<section class="contenedorServicios">
    <h1 data-aos="fade-up">Services</h1>
    <div class="imagenesAbout">
        <div class="imgAbout">
            <h3>Flooring</h3>
            <div class="botonCont" >
                <a href="#" class="estimadoBoton">
                    Get Stimate
                </a>
            </div>
        </div>
        <div class="imgAbout">
            <h3>Cleaning</h3>
            <div class="botonCont" >
                <a href="#" class="estimadoBoton">
                    Get Stimate
                </a>
            </div>
        </div>
        <div class="imgAbout">
            <h3>Painting</h3>
            <div class="botonCont" >
                <a href="#" class="estimadoBoton">
                    Get Stimate
                </a>
            </div>
        </div>
    </div>
</section>
<bb-footer id="footerbb"></bb-footer>